.homeTitle
{
    color: green;
    font-family: Arial, Helvetica, sans-serif;

}
.vp
{
    color: rgb(89, 156, 0);
    font-weight: bold;
    text-decoration: none;
}
.logout
{
    color: rgb(255, 77, 7);
    font-weight: bold;
    text-decoration: none;
    
}

.container
{
    margin-left: 40%;
    margin-top: 15%;
    background: rgb(150, 150, 241);
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 2px black;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
.logt
{
    
    margin-top: 10px;
}
.logsub
{
    background-color: rgb(2, 2, 75);
    color: white;
    
    
}
.cngpass
{
    margin-left: 6%;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.cngpassBtn
{
    margin-top: 10px;
    background: rgb(255, 255, 167);
    border-radius: 50px;
    width: 150px;
    box-shadow: 2px 2px 5px  black;
    
    
}